
        table {
        width: 100%;
        }

    table th,
    td {
        border: 1px solid rgb(0, 0, 0);
        padding: 8px;
        text-align: center;
        }

        th {
        background-color: #f2f2f2;
        }

        form {
        margin-top: 20px;
        }

        input[type="text"] {
        padding: 8px;
        }

        input[type="submit"] {
        padding: 8px 16px;
        text-align: center;
        background-color: #4CAF50;
        color: white;
        border: none;
        cursor: pointer;
        }

        input[type="submit"]:hover {
        background-color: #45a049;
        
        }
